.pricing-table {
    display: flex;
    margin: 3rem;
    padding: 5rem;
    background-color: white;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1.5rem;
    border: 1px solid grey;
}

.pricing-plan {
    flex-grow: 1;
    flex-direction: column;
}

body {
    background-color: rgb(64, 160, 224);
}